---
---
@import "{{ site.theme }}"; // Import the site theme configured in _config.yml

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* Set global variables for colors, fonts, and dimensions */
$bg-color: #F8FAF5;
$header-color: #2A2A2A;
$text-color: #2A2A2A;
$link-color: #6B9C82;

$interface-font: 'Space Grotesk', sans-serif;
$header-font: 'Space Grotesk', sans-serif;
$text-font: 'Inter', sans-serif;

$padding-small: 0.5em;
$padding-medium: 1em;
$padding-large: 2em;

$margin-small: 0.5em;
$margin-medium: 1em;
$margin-large: 2em;

$font-standard: 1rem;
$font-large: 2rem;
$sticky-z-index: 1020;

$opacity-start: 1;
$opacity-end: 0;

/* Set function for converting hex color to rgba */
@function hex-to-rgba($hex, $opacity) {
    $r: red($hex);
    $g: green($hex);
    $b: blue($hex);
    @return rgba($r, $g, $b, $opacity);
}

/* Mixins */
@mixin font-style($font-family, $weight: normal, $size: $font-standard) {
    font-family: $font-family;
    font-weight: $weight;
    font-size: $size;
}

@mixin gradient-background($start-color, $end-color, $start-opacity: 1, $end-opacity: 0) {
    background: linear-gradient(to bottom, #{hex-to-rgba($start-color, $start-opacity)} 75%, #{hex-to-rgba($end-color, $end-opacity)} 100%);
}

/* Global styles */
html, body {
    position: relative;
    min-height: 100%;
    margin: 0;
    background-color: $bg-color;
    color: $text-color;
    font-family: $interface-font;
    display: flex;
    flex-direction: column;
    
    h1, h2, h3, h4, h5, h6 {
        @include font-style($header-font, 700);
        color: $header-color;
    }
    
    a {
        color: $link-color;
    }
    
    .list-unstyled {
        list-style-type: none;
    }
}

/* Header styles */
header {
    @include gradient-background($bg-color, $bg-color, $opacity-start, $opacity-end);

    .brand {
        a {
            @include font-style($header-font, normal, $font-large);
        }
        
        p {
            @include font-style($text-font, normal, $font-standard);
        }

        nav a {
            @include font-style($header-font, normal, $font-standard);
        }
    }
}

.sticky-header {
    padding: $padding-medium * 2 0;
    position: sticky;
    top: 0;
    z-index: $sticky-z-index;
    height: fit-content;
    width: 100%;
}

/* Container & row for fluid layout */
.container-fluid {
    display: flex;
    flex-direction: column;
  
    .row {
        display: flex;
        flex-direction: row;
        margin-bottom: $margin-small;
    }
}

/* Sidebar styles */
.col-3 {
    a {
        @include font-style($header-font, normal, $font-standard);
    }
    
    p {
        @include font-style($text-font, normal, $font-standard*0.85);
    }
}

.sticky-sidebar {
    position: sticky;
    top: 20%;
    height: fit-content;
    overflow-y: auto;
    padding: $padding-medium $padding-large 0 $padding-medium;
}

/* Footer styles */
footer {
    @include gradient-background($bg-color, $bg-color, $opacity-start, $opacity-end);
    padding: $padding-large $padding-large;
    position: relative;
    margin-top: auto;
    bottom: 0;
    width: 100%;
  
    .svg-icon {
        padding: $padding-medium;
        
        svg {
            width: 35px;
            height: 35px;
            fill: $link-color;
        }
    }
    
    p {
        font-size: 12px;
    }
}