<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} | {{ page.title }}</title>
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
</head>
<body>
    <!-- Header -->
    <header class="sticky-header px-5">
        <div class="brand">
            <a href="/">{{ site.title }}</a>
            <p>Working notes. Digital garden. Brain dump.</p>
        </div>
        {% for item in site.data.navigation %}
        <nav class="pr-2 d-inline d-lg-none">
            <a href="{{ item.href }}">{{ item.title }}</a>
        </nav>
        {% endfor %}
    </header>

    <!-- Content -->
    <div class="container-fluid px-5">
        <div class="row">
            <nav class="col-3 sticky-sidebar d-none d-lg-block">
                    <ul class="list-unstyled">
                        {% for item in site.data.navigation %}
                        <li>
                            <a href="{{ item.href }}">{{ item.title }}</a>
                            <p>{{ item.description }}</p>
                        </li>
                        {% endfor %}
                    </ul>
            </nav>
            <main class="col-12 col-lg-6 main-content markdown-body">
                {% if page.title and page.title != "Home" %}
                <h1><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
                {% endif %}
                <div class="blog-style">
                    {% include content.html %}
                </div>
                {% include recent-posts.html %}
            </main>
        </div>
    </div>
    
    <!-- Footer -->
    <footer class="container-md px-5 text-center">
        {% include footer-content.html %}
    </footer>

    <!-- Bootstrap and JQuery integration for full functionality -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDzftNiW645fFoCI8Uhp7kSxJ+GdPmElUCeI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js" integrity="sha256-oBqWVfH9G+2Mv7AWLtAfc4O8i3E+GlIyxD+6VHiZcWs=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
</body>
</html>